container_commands:
  00download:
    command: "wget https://github.com/concreted/aws-scripts-mon/archive/1.0.0.zip"
    ignoreErrors: true
  01extract:
    command: "unzip 1.0.0.zip"
    ignoreErrors: true
  02rmzip:
    command: "rm 1.0.0.zip"
    ignoreErrors: true
  03prereq:
    command: "yum install -y perl-Switch perl-DateTime perl-Sys-Syslog perl-LWP-Protocol-https"
    ignoreErrors: false
  04cdinto:
    command: "mv aws-scripts-mon-1.0.0/ /home/ec2-user/aws-scripts-mon"
    ignoreErrors: true
