container_commands:
  00clearcron:
    command: "crontab -r"
    ignoreErrors: true
  01cron:
    command: "crontab -l | { cat; echo '* * * * * /home/ec2-user/aws-scripts-mon/mon-put-instance-data.pl --mem-util --mem-used --mem-avail --aggregated=only --custom-namespace=Memory/Pubsub/Staging'; } | crontab -"
    ignoreErrors: false
