## taken from https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/AWSHowTo.cloudwatchlogs.html#AWSHowTo.cloudwatchlogs.files
files:
  "/etc/awslogs/config/customlogs.conf":
    mode: "000600"
    owner: root
    group: root
    content: |
      [stdouterr.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/containers/stdouterr.log"]]}`
      log_stream_name = {instance_id}
      file = /var/log/containers/*stdouterr.log*

commands:
  "01":
    command: chkconfig awslogs on
  "02":
    command: service awslogs restart
